/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
 .product_wrapper h1 {
    text-align: center;
}
.product_wrapper h1 a {
    color: #000;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
}
.product_wrapper h1 a:hover{
    text-decoration: none;
}
.qr_code_wrapper fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}
.qr_code_wrapper legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    width: max-content;
}
.qr_code_wrapper .qr_code .field--label {
    display: none;
}
.qr_code_wrapper p.title{
    width: 275px;
    margin: auto;
}
.qr_code_wrapper .qr_code img.img-responsive {
    width: 250px;
    margin: auto;
    padding: 15px 0px;
}
.view-product-list.view-id-product_list {
    overflow: hidden;
}
.Product_card {
    width: 98%;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid cornflowerblue;
}
.product_wrapper .col-md-4 img,
.Product_card img {
    height: 250px;
}
.Product_card h4 {
    text-align: center;
}
@media screen and (max-width: 767px) {
	.product_wrapper h1.desktop {
	    display: none;
	}
	.product_wrapper h1.mobile {
    	    margin: 20px 0px;
	}
	.product_wrapper .col-md-8 p {
    	    text-align: justify;
	}
}
@media screen and (min-width: 1200px) {
	.product_wrapper h1.mobile {
	    display: none;
	}
}
